#card{
    height: 200px;
    width: 600px;
    background-color: red;
    border: 2px solid black;

}
#h1{
    padding-top: 20px;
    background-color: yellow;
    width: 400px;
    margin-left: 30px;
    text-align: center;
}
#p1{
    padding-top: 20px;
    background-color: green;
    width: 400px;
    margin-left: 90px;
    text-align: center;
}
#p2{
    padding-top: 20px;
    background-color: lightblue;
    width: 400px;
    margin-left: 90px;
    text-align: center;
}